Your subscription request for mailing list {list-name} requires
confirmation from you before it can be processed.  Please reply
to this message to confirm your subscription request no later
than {confirmation-deadline}.

(This message was generated automatically.)
